.lent-book-list {
  padding: 20px;
  padding-top: 0;
}

.lent-book-list h2{
  margin-top: 0;
}

.book-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.book-img {
  width: 100px;
  height: auto;
  margin-right: 20px;
  object-fit: contain;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.book-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.book-title {
  font-style: bold;
}

.book-info button {
  width: 120px;
  padding: 5px;
  background-color: #a8d58c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
